.table-outline {
  border: 1px solid $table-border-color;

  td {
    vertical-align: middle;
  }
}

.table-align-middle {

  td {
    vertical-align: middle;
  }
}

.table-clear {
  td {
    border: 0;
  }
}

.thead-default th {
  background-color: #f4f5f6;
}

.table thead th {
  border-bottom: #d1dbe1;
}
