<template>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <b-card header="<i class='fa fa-align-justify'></i> User Reported Issues">
          <div class="header-action">
            <button class="btn btn-primary" type="button" @click="refresh">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
          <b-table class="table-outline mb-0" hover responsive outline
            :items="issues"
            :fields="tableFields"
            head-variant="default"
            >
            <div slot="avatar" class="avatar" slot-scope="item">
              <img :src="item.value.url" class="img-avatar" alt="">
              <span class="avatar-status" v-bind:class="{ 'bg-success': item.value.status == 'success',  'bg-warning': item.value.status == 'warning', 'bg-danger': item.value.status == 'danger', 'bg-secondary': item.value.status == '' }"></span>
            </div>
            <div slot="user" slot-scope="item">
              <div>{{item.value.name}}</div>
              <div class="small text-muted">
                {{item.value.location}}
              </div>
            </div>
            <div slot="description" slot-scope="item">
              <div>{{item.value}}</div>
            </div>
            <div slot="progress" slot-scope="item">
              <div class="clearfix">
                <div class="float-left">
                  {{ progressLabel(item.value) }}
                </div>
              </div>
              <b-progress class="progress-xs" v-model="item.value" :variant="variantNum(item.value)"></b-progress>
            </div>
            <div slot="activity" slot-scope="item">
              <div class="small text-muted">Last contact</div>
              <strong>{{ formatTime(item.value) }}</strong>
            </div>
          </b-table>

        </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</template>

<script>
import moment from 'moment'
import Avatar from '../components/Avatar'

export default {
  name: 'issues',

  components: {
    Avatar
  },

  data () {
    return {
      issues: [
        {
          id: 1000,
          avatar: { url: 'static/img/avatars/avatar-1.jpg', status: 'success' },
          user: { name: 'Mr. Chan Tai Man', location: 'PARK YOHO Genova, BLK 23, 69F' },
          description: 'Burnt lightbulb on 21/F',
          progress: this.progress('notified_technician'),
          activity: '2017-10-22T05:20:00.001Z'
        },
        {
          id: 1001,
          avatar: { url: 'static/img/avatars/avatar-2.jpg', status: 'sucess' },
          user: { name: 'Ms. Ma Ma Day', location: 'PARK YOHO Sicilia, BLK 27, 1C' },
          description: 'Lightbulb in Play Room 2 needs replacing',
          progress: this.progress('notified_customer'),
          activity: '2017-10-22T03:20:00.001Z'
        },
        {
          id: 1002,
          avatar: { url: 'static/img/avatars/avatar-2.jpg', status: 'success' },
          user: { name: 'Mrs. Paula Wong', location: 'Park Vista 1A, BLK 39, 56F' },
          description: 'Dirty floors in common area on 27/F',
          progress: this.progress('closed'),
          activity: '2017-10-22T03:20:00.001Z'
        },
        {
          id: 1003,
          avatar: { url: 'static/img/avatars/avatar-3.jpg', status: 'danger' },
          user: { name: 'Mr. CHAN, Michael', location: 'Park Vista 1A, BLK 39, 56F' },
          description: 'Dirty floors in common area on 27/F',
          progress: this.progress('opened'),
          activity: '2017-10-21T02:20:12.001Z'
        },
        {
          id: 1004,
          avatar: { url: 'static/img/avatars/avatar-2.jpg', status: 'success' },
          user: { name: 'Mr. CHOW, Yun-Fat', location: 'Eight Regency, BLK 3, 26F' },
          description: 'Dirty floors in common area on 27/F',
          progress: this.progress('notified_customer'),
          activity: '2017-10-21T01:20:02.901Z'
        },
        {
          id: 1005,
          avatar: { url: 'static/img/avatars/avatar-1.jpg', status: 'success' },
          user: { name: 'Mrs. LI Kar Shing', location: 'Cullinan West, BLK 27, 167F' },
          description: 'Dirty floors in common area on 27/F',
          progress: this.progress('closed'),
          activity: '2017-10-20T01:20:02.901Z'
        },
        {
          id: 1006,
          avatar: { url: 'static/img/avatars/avatar-4.png', status: 'success' },
          user: { name: 'Ms. LAM Carrie', location: 'Park Vista 1A, BLK 3, 16F' },
          description: 'Dirty floors in common area on 27/F',
          progress: this.progress('closed'),
          activity: '2017-10-19T01:20:02.001Z'
        },
        {
          id: 1007,
          avatar: { url: 'static/img/avatars/avatar-4.png', status: 'success' },
          user: { name: 'Mr. SUN Yat Sen', location: 'Park Vista 1A, BLK 39, 56F' },
          description: 'Dirty floors in common area on 27/F',
          progress: this.progress('notified_customer'),
          activity: '2017-10-19T03:20:20.001Z'
        },
        {
          id: 1008,
          avatar: { url: 'static/img/avatars/avatar-1.jpg', status: 'success' },
          user: { name: 'Mrs. MA Jack', location: 'Park Vista 1A, BLK 39, 56F' },
          description: 'Dirty floors in common area on 27/F',
          progress: this.progress('notified_technician'),
          activity: '2017-10-19T01:20:12.901Z'
        }
      ],
      tableFields: {
        avatar: {
          label: '<i class="icon-people"></i>',
          class: 'text-center'
        },
        user: {
          label: 'User'
        },
        description: {
          label: 'Issue'
        },
        progress: {
          label: 'Progress'
        },
        activity: {
          label: 'Last Update'
        }
      }
    }
  },

  methods: {
    checkAndAdd (item) {
      const found = this.issues.some((el) => {
        return el.id === item.id
      })
      if (!found) {
        this.issues.unshift(item)
      }
    },

    refresh () {
      this.$store.dispatch('fetchIssues').then((items) => {
        items.map((item) => {
          this.checkAndAdd(item)
        })
      })
    },

    variantNum (value) {
      let $variant
      if (value <= 25) {
        $variant = 'danger'
      } else if (value > 25 && value <= 50) {
        $variant = 'warning'
      } else if (value > 50 && value <= 75) {
        $variant = 'info'
      } else if (value > 75 && value <= 100) {
        $variant = 'success'
      }
      return $variant
    },

    variant (value) {
      switch (value) {
        case 'opened':
          return 'danger'
        case 'notified_technician':
          return 'warning'
        case 'notified_customer':
          return 'info'
        case 'closed':
          return 'success'
      }
    },

    progress (value) {
      switch (value) {
        case 'opened':
          return 10
        case 'notified_technician':
          return 33
        case 'notified_customer':
          return 75
        case 'closed':
          return 100
      }
    },

    progressLabel (value) {
      let $variant
      if (value <= 25) {
        $variant = 'Case opened'
      } else if (value > 25 && value <= 50) {
        $variant = 'Notified technician'
      } else if (value > 50 && value <= 75) {
        $variant = 'Notified customer'
      } else if (value > 75 && value <= 100) {
        $variant = 'Issue closed'
      }
      return $variant
    },

    formatTime (value) {
      return moment(value).fromNow()
    }
  }
}
</script>

<style lang="scss">
  .card-header {
    line-height: 35px;
  }

  .header-action {
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
    vertical-align: middle;
  }
</style>
