<template>
  <div class="avatar" :class="{ open: isActive }">
    <div class="avatar-wrapper">
      <div v-if="avatarImage" class="avatar-image" :style="avatarImage" @click="toggleMenu"></div>
      <div v-else class="avatar-symbol">{{ symbol }}</div>
    </div>
    <div v-if="displayName" class="avatar-label">
      {{ label }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'avatar',

  props: [
    'displayName',
    'image',
    'label'
  ],

  computed: {
    avatarImage () {
      return this.image ? `background-image: url(${this.image})` : null
    },

    symbol () {
      return this.label ? this.label.charAt(0) : null
    }
  },

  data () {
    return {
      isActive: false
    }
  },

  methods: {
    toggleMenu () {
      this.isActive = !this.isActive
    }
  }
}
</script>

<style lang="scss">

$avatar-size: 30px;

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .avatar-wrapper {
    height: $avatar-size;
    width: $avatar-size;
    margin-right: 10px;
  }

  .avatar-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border: 1px solid #fff;
    border-radius: 50%;
  }

  .material-icons {
    vertical-align: middle;
  }

  .dropdown-menu {
    border-radius: 0px;
  }

  .avatar-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: #E3E9F7;
    border: 1px solid #fff;
    border-radius: 50%;
    color: red;
    line-height: $avatar-size;
  }
}
</style>
