<template>
  <footer class="app-footer">
    <span><a href="http://knock-bot.io">Knock</a> &copy; 2017 SmarTone Hackathon.</span>
  </footer>
</template>
<script>
export default {
  name: 'footer'
}
</script>
