<template>
  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button" @click="mobileSidebarToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <b-link class="navbar-brand" to="#"></b-link>
    <b-nav is-nav-bar class="d-md-down-none">
      <b-nav-item class="px-3" :class="{ 'active': routeName === 'Dashboard' }" href="/dashboard">Dashboard</b-nav-item>
      <b-nav-item class="px-3" :class="{ 'active': routeName === 'Issues' }" href="/issues">Issues</b-nav-item>
      <b-nav-item class="px-3">Report</b-nav-item>
    </b-nav>
    <b-nav is-nav-bar class="ml-auto">
      <HeaderDropdown/>
    </b-nav>
    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" @click="asideToggle">
      <span class="navbar-toggler-icon"></span>
    </button>
  </header>
</template>
<script>
  import HeaderDropdown from './HeaderDropdown.vue'

  export default {
    name: 'header',
    components: {
      HeaderDropdown
    },
    data () {
      return {
        routeName: null
      }
    },
    beforeMount () {
      this.routeName = this.$router.currentRoute.name
    },
    methods: {
      sidebarToggle (e) {
        e.preventDefault()
        document.body.classList.toggle('sidebar-hidden')
      },
      sidebarMinimize (e) {
        e.preventDefault()
        document.body.classList.toggle('sidebar-minimized')
      },
      mobileSidebarToggle (e) {
        e.preventDefault()
        document.body.classList.toggle('sidebar-mobile-show')
      },
      asideToggle (e) {
        e.preventDefault()
        document.body.classList.toggle('aside-menu-hidden')
      }
    },
    watch: {
      $route () {
        this.routeName = this.$router.currentRoute.name
      }
    }
  }
</script>
